<script setup lang="ts">
import { defineAsyncComponent, ref } from 'vue'

import { Chart, LinearScale } from 'chart.js'
import { SankeyController, Flow } from 'chartjs-chart-sankey'

Chart.register(LinearScale, SankeyController, Flow)

const Hello = defineAsyncComponent({
  loader: () => import('./Hello.vue'),
  delay: 0,
})

const showHello = ref(false)
</script>

<template>
  <button @click="showHello = true">
    Show Hello
  </button>
  <div v-if="showHello">
    <div>Async component</div>
    <Hello :count="1" />
  </div>
</template>
